<ul class="list-group list-group-flush" *ngIf="record">
	<li class="list-group-item clearfix">
		<strong class="float-left">Basic Primary Insurance Amount:</strong>
		<span class="float-right">{{record.basic_primary_insurance_amount?.amount | currency }}</span>
	</li>
	<li class="list-group-item clearfix">
		<strong class="float-left">Monthly Non-Covered Pension:</strong> 
		<span class="float-right">{{record.monthly_non_covered_pension?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Windfall Elimination Provision Reduction:</strong>
		<span class="float-right">{{record.wep_reduction?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Final Primary Insurance Amount:</strong> 
		<span class="float-right">{{record.final_primary_insurance_amount?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Benefit:</strong>
		<span class="float-right">{{record.benefit?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Government Pension Offset:</strong>
		<span class="float-right">{{record.government_pension_offset?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Spousal Insurance Benefit:</strong>
		<span class="float-right">{{record.spousal_insurance_benefit?.amount | currency }}</span>
	</li>
	<li class="list-group-item">
		<strong class="float-left">Survivor Insurance Benefit:</strong>
		<span class="float-right">{{record.survivor_insurance_benefit?.amount | currency }}</span>
	</li>
</ul>
